fastapi
uvicorn
sqlmodel
alembic
psycopg2-binary
python-dotenv
httpx
google-generativeai
pydantic-settings
python-multipart
groq
langchain==0.3.25
langchain-core==0.3.65
langchain-groq==0.3.2
langchain-google-genai==2.0.10